/*
    Color describing
*/
/*
    Reset style fot the page
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.root {
  background-color: #a303a0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.root .header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.root .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.root .logo img {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.root .logo span {
  font-size: 2.4rem;
  font-weight: 600;
  color: #ffffff;
}
.root .action {
  display: flex;
  align-items: center;
  font-size: 2.4rem;
  gap: 20px;
  color: #ffffff;
}
.root .action span {
  font-size: 1.6rem;
  display: block;
  padding: 8px 20px;
  background-color: #fbb03b;
  font-weight: 600;
  border-radius: 8px;
}
.root .action .signin {
  background-color: transparent;
  padding: 8px 5px;
}
.root .container {
  width: 100%;
  margin: 70px auto;
  position: relative;
  display: flex;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 10px 8px 23px 0px rgba(0, 0, 0, 0.25);
}
.root .container .image {
  width: 400px;
  height: 530px;
  position: absolute;
  transition: all ease 0.5s;
  display: none;
  z-index: 999;
}
.root .container .image img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 10px 8px 23px 0px rgba(0, 0, 0, 0.25);
}
.root.login .container .signup {
  opacity: 0;
  z-index: -1;
}
.root.login .container .login {
  opacity: 1;
  z-index: 1;
}
.root.login .container .logo {
  position: absolute;
  right: -50px;
  top: -60px;
  transform: scale(1);
}

.root.signup .container .signup {
  opacity: 1;
  z-index: 1;
}
.root.signup .container .login {
  opacity: 0;
  z-index: -1;
}
.root.signup .container .logo {
  position: absolute;
  left: -50px;
  top: -60px;
  transform: scale(1);
}

.root.login .container .image {
  display: block;
  top: 50%;
  transform: translate(0%, -50%);
}
.root.login .container .image img {
  box-shadow: 10px 8px 23px 0px rgba(0, 0, 0, 0.25);
}

.root.signup .container .image {
  display: block;
  top: 50%;
  transform: translate(125%, -50%);
}
.root.signup .container .image img {
  box-shadow: -10px -8px 23px 0px rgba(0, 0, 0, 0.25);
}

@keyframes scroll-right {
  0% {
    transform: translate(0%, -50%) scale(1);
    z-index: -999;
  }
  5% {
    transform: translate(-10%, -50%) scale(0.9);
    z-index: -999;
  }
  15% {
    transform: translate(-20%, -50%) scale(0.8);
    z-index: -999;
  }
  30% {
    transform: translate(-40%, -50%) scale(0.6);
    z-index: -999;
  }
  50% {
    transform: translate(65%, -50%) scale(0.5);
    z-index: -999;
  }
  75% {
    transform: translate(135%, -50%) scale(0.6);
    z-index: 999;
  }
  93% {
    transform: translate(160%, -50%) scale(0.8);
    z-index: 999;
  }
  95% {
    transform: translate(165%, -50%) scale(1.1);
    z-index: 999;
  }
  100% {
    transform: translate(125%, -50%) scale(1);
    z-index: 999;
  }
}
@keyframes scroll-left {
  0% {
    transform: translate(125%, -50%) scale(1);
    z-index: -999;
  }
  95% {
    transform: translate(-10%, -50%) scale(0.9);
    z-index: -999;
  }
  93% {
    transform: translate(-20%, -50%) scale(0.8);
    z-index: -999;
  }
  70% {
    transform: translate(-40%, -50%) scale(0.6);
    z-index: -999;
  }
  50% {
    transform: translate(65%, -50%) scale(0.5);
    z-index: -999;
  }
  30% {
    transform: translate(135%, -50%) scale(0.6);
    z-index: 999;
  }
  15% {
    transform: translate(160%, -50%) scale(0.8);
    z-index: 999;
  }
  5% {
    transform: translate(165%, -50%) scale(1.1);
    z-index: 999;
  }
  100% {
    transform: translate(0%, -50%) scale(1);
    z-index: 999;
  }
}
.root .container .login,
.root .container .signup {
  flex: 1;
  padding: 30px 30px 30px 30px;
  transition: all ease 0.4s;
}
.root .container .login__title,
.root .container .signup__title {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 800;
  color: #490057;
}
.root .container .login form label,
.root .container .signup form label {
  font-size: 1.3rem;
  color: #9b9b9b;
  display: block;
  margin-top: 20px;
}
.root .container .login form input,
.root .container .signup form input {
  display: block;
  width: 100%;
  margin-top: 4px;
  padding: 16px 24px;
  border: 1px solid #202020;
  border-radius: 8px;
  font-family: "Nunito", sans-serif;
}
.root .container .login form .form__forgot,
.root .container .signup form .form__forgot {
  text-align: right;
  margin-top: 8px;
  font-weight: 400;
  color: #a303a0;
}
.root .container .login form .form__submit,
.root .container .signup form .form__submit {
  margin-top: 30px;
  background-color: #fbb03b;
  font-size: 2rem;
  border: none;
  font-weight: 600;
  color: #ffffff;
}
.root .container .login__more,
.root .container .signup__more {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}
.root .container .login__more .google,
.root .container .signup__more .google {
  margin-left: 20px;
  background-color: #da0707;
}
.root .container .login__more .facebook,
.root .container .signup__more .facebook {
  background-color: #1976d2;
}
.root .container .login__more .google,
.root .container .login__more .facebook,
.root .container .signup__more .google,
.root .container .signup__more .facebook {
  padding: 8px 16px;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.3rem;
}
.root .container .signup {
  margin-left: 10px;
}
.root .container .login {
  margin-left: -15px;
}
.root .container .logo {
  position: absolute;
  right: -50px;
  top: -60px;
  transform: scale(0);
  transition: all linear 0.4s;
}
.root .container .logo img {
  display: block;
  width: 120px;
  height: 120px;
  padding: 20px;
  background-color: #a303a0;
  border-radius: 50%;
}
@media screen and (max-width: 768px) {
  .root .container {
    width: auto;
  }
  .root.login .container, .root.signup .container {
    max-width: none;
    margin: 70px 30px;
    justify-content: center;
    align-items: center;
  }
  .root.login .container .image, .root.signup .container .image {
    display: none;
  }
  .root.login .container .logo, .root.signup .container .logo {
    display: none;
  }
  .root.login .container .login {
    display: block;
  }
  .root.login .container .signup {
    display: none;
  }
  .root.signup .container .login {
    display: none;
  }
  .root.signup .container .signup {
    display: block;
  }
}
@media screen and (max-width: 415px) {
  .root .header {
    padding: 20px 15px;
  }
  .root .header .action {
    gap: 10px;
  }
  .root .header .action .signup {
    padding: 8px 12px;
  }
  .root .header .logo img {
    transform: scale(0.8);
  }
  .root .header .logo span {
    font-size: 2rem;
  }
  .root .login__more span {
    display: none;
  }
}

/*# sourceMappingURL=authen.css.map */
