/*
    Color describing
*/

$purple49: #490057;
$purpleA3: #a303a0;

$white: #ffffff;

$black: #000000;

$grey: #f7f7f8;
$grey200: #ededed;
$grey300: #d5d5d5;
$grey400: #9b9b9b;
$grey600: #515151;
$grey800: #202020;

$orange: #fbb03b;

$calendar49: #49454f;
$calendar1D: #1d1b20;
$calendarEC: #ece6f0;
