/*
    Main CSS for profile - visitor view
*/
@use "color" as *;
@use "reset";
@use "nav";
@use "main";

#root {
  display: flex;
  flex-direction: row;
  transition: all linear 0.3s;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  @media screen and (max-width: 768px) {
    position: relative;
  }

  #switch {
    width: 40px;
    height: 40px;
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: $orange;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;
    right: 20px;

    i {
      transition: all linear 0.2s;
    }

    &:hover {
      i {
        transform: rotateZ(180deg);
      }
    }
  }
}
